<% layout('layout') %>

<div>
  <div>
    <h3 class="mb-0"><%- item.name %></h3>
    Description: <%- item.description %><br />
  </div>
  <div class="ms-auto">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="/categories/<%= categoryId%>/genres/<%= genreId %>/items"
          >Back</a
        >
      </li>
      <li class="breadcrumb-item">
        <a
          href="/categories/<%= categoryId %>/genres/<%= genreId %>/items/<%= itemId %>/delete"
          >Delete <%= categoryId == 1 ? 'movie' : 'tv show' %></a
        >
      </li>
      <li class="breadcrumb-item">
        <a
          href="/categories/<%= categoryId %>/genres/<%= genreId %>/items/<%= itemId %>/update"
          >Update <%= categoryId == 1 ? 'movie' : 'tv show' %></a
        >
      </li>
    </ol>
  </div>
</div>
